[credential "https://github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[user]
	email = REPLACE_ME
	name = REPLACE_ME
	signingkey = REPLACE_ME
[commit]
	gpgsign = true
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[alias]
    # Commit status
	st = status
	# Commit short status
	sts = status -s
	# Commit with a message
	cm = commit -m
	# Checkout branch
	ch = checkout
	# Checkout new branch
	chb = checkout -b
[core]
	autocrlf = false
	editor = code --wait
[safe]
	directory = *
[tag]
	gpgsign = true