#
# Root.
#
[submodule "archive"]
	url = git@github.com:reanimatedmanx/archive.git
	path = archive
	branch = main
	ignore = dirty
[submodule "core"]
	url = git@github.com:reanimatedmanx/core.git
	path = core
	branch = main
	ignore = dirty
[submodule "data"]
	url = git@github.com:reanimatedmanx/data.git
	path = data
	branch = main
	ignore = dirty

[submodule "professional/organisation/vexeye/vexeye/vexx"]
	url = git@github.com:vexeye/vexx.git
	path = professional/organisation/vexeye/vexeye/vexx
	branch = main
[submodule "professional/organisation/vexeye/vexeye/uix"]
	url = git@github.com:vexeye/uix.git
	path = professional/organisation/vexeye/vexeye/uix
	branch = main
[submodule "professional/organisation/vexeye/vexeye/hub"]
	url = git@github.com:vexeye/hub.git
	path = professional/organisation/vexeye/vexeye/hub
	branch = main
[submodule "professional/organisation/vexeye/vexeye-solutions/anamnesis"]
	url = git@github.com:vexeye-solutions/anamnesis.git
	path = professional/organisation/vexeye/vexeye-solutions/anamnesis
	branch = main
[submodule "professional/organisation/vexeye/vexeye-solutions/nyx"]
	url = git@github.com:vexeye-solutions/nyx.git
	path = professional/organisation/vexeye/vexeye-solutions/nyx
	branch = main
[submodule "professional/organisation/vexeye/vexeye-wellness/babycorp"]
	url = git@github.com:vexeye-wellness/babycorp
	path = professional/organisation/vexeye/vexeye-wellness/babycorp
	branch = main
